table .map {
height:200px ;
width:350px;
max-height:500px;
max-width:500px;
}

#ddlPuntuacion{
color:black;
}
.modal-title{
	color:black;
}

.form-control {
    color: #f5f5f5;
    background-color: rgba(0,0,0,.0001);
}

.map {
    height: 300px;
    margin-bottom:45px;
}

span{
display:block;
text-align:left;
}
#btnCrearCochera{
display:block;
margin-left:auto;
margin-right:auto;
}
#fuFoto{
display:block;
margin-left:auto;
margin-right:auto;
}
/**/#btnFiltrar{
min-width:150px;
display:block;
margin-left:auto;
margin-right:auto;
}
#btnRegistrarUsuario{
margin-left:auto;
margin-right:auto;
display:block;
}
#rblPerfil{
margin-left:auto;
margin-right:auto;
}
#rblPerfil tr{
display:inline-block; 
padding: 3px;
margin:5px;
}
#rblPerfil [type=radio] {
margin:2px;
}
#btnLogin{    
margin-left:auto;
margin-right:auto;
display:block;
}
.registrarse{
display:block;
margin-left:auto;
margin-right:auto;
text-align:center;
}
#imgFoto{    
	margin-left: auto;
    margin-right: auto;
    display: block;
    width: 300px;
    height: 200px
}
#aConfirmar{
    margin-bottom:20px;
    display:block;
    text-align:center;
}
