body {
}

span
{
    display:block;text-align:center;
}
#btnLogin
{
    margin-left:auto;margin-right:auto;display:block;
}
.registrarse{display:block;margin-left:auto;margin-right:auto;text-align:center;}
