body {
}

span
{
    display:block;text-align:center;
}
#btnRegistrarUsuario
{
    margin-left:auto;margin-right:auto;display:block;
}
#rblPerfil
{
    margin-left:auto;margin-right:auto;
}
#rblPerfil tr{display:inline-block;}